/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10px;
}

$room-width: 110px;
$room-margin: 5px;

$event-padding: 5px;
$event-width: $room-width - $event-padding * 2;

.room {
    background-color: #CCC;
    padding: 10px;
    margin: 10px $room-margin;
    float: left;
    width: $room-width;
}

.event {
    background-color: #CFF;
    width: $event-width;
    padding: $event-padding;
    margin: 5px 0;
}